<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="USERNAME" value="micael.lopes@konicaminolta.pt" />
    <add key="PASSWORD" value="Konica2018" />
    <add key="ADDRESS" value="bpt.komidoc.com" />
    <add key="DOCFOLDER" value="C:\Users\PTL14601\Documents\WORK\KOMIDOC\TEST\DOCUMENTS3" />
    <add key="FOLDERSCONFIGURATIONPATH" value="C:\Users\PTL14601\Documents\WORK\KOMIDOC\GetFilesFromKomi\FilesToKomi\FoldersConfiguration.json"/>
    <add key="PORT" value="" />
    <add key="SSL" value="TRUE" />
    <add key="METADATAFILETYPE" value="JSON"/>
    <add key="UPDATEMETADATA" value="TRUE"/>
    <add key="DOWNLOADMETADATA" value="TRUE"/>
    <add key="DOWNLOADDOCUMENT" value="FALSE"/>
    <add key="DOCUMENTLOGSFOLDER" value="C:\Users\PTL14601\Documents\WORK\KOMIDOC\TEST\LOGS3"/>
    <add key="DOWNLOADEDDATAFILE" value="C:\Users\PTL14601\Documents\WORK\KOMIDOC\TEST\LOGS3\downloaddata.txt"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>